mkdocs>=1.6.0
mkdocs-build-plantuml-plugin>=2.0.0
mkdocs-exclude>=1.0.2
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-material>=9.5.0
mkdocs-minify-plugin>=0.8.0
pygments>=2.18.0
pymdown-extensions>=10.12
markdown>=3.7
